<div class="flex flex-col h-screen">
  <app-navbar></app-navbar>
  <div class="w-full grow bg-white p-6 ">
    <h1 class="text-xl text-gray-700 font-semibold italic mb-5">Table</h1>
    <table class="w-full text-sm text-left text-gray-500 " cdk-table [dataSource]="products">
      <tr class="text-xs text-gray-700 uppercase bg-gray-50" cdk-header-row *cdkHeaderRowDef="columns"></tr>
      <tr cdk-row class="bg-white border-b" *cdkRowDef="let row; columns: columns"></tr>
      <tr class="text-xl text-gray-700 uppercase bg-gray-200" cdk-footer-row *cdkFooterRowDef="columns"></tr>

      <ng-container cdkColumnDef="id">
          <th cdk-header-cell *cdkHeaderCellDef class="px-6 py-3">Id.</th>
          <td cdk-cell class="px-4 py-6" *cdkCellDef="let row">{{ row.id }}</td>
          <th cdk-footer-cell *cdkFooterCellDef class="px-6 py-3"></th>
      </ng-container>

      <ng-container cdkColumnDef="title">
        <th cdk-header-cell *cdkHeaderCellDef class="px-6 py-3">title.</th>
        <td cdk-cell class="px-4 py-6" *cdkCellDef="let row">{{ row.title }}</td>
        <th cdk-footer-cell *cdkFooterCellDef class="px-6 py-3"></th>
    </ng-container>

    <ng-container cdkColumnDef="price">
      <th cdk-header-cell *cdkHeaderCellDef class="px-6 py-3">price.</th>
      <td cdk-cell class="px-4 py-6" [ngClass]="{ ' bg-red-200 ' : row.price < 100 }" *cdkCellDef="let row">{{ row.price }}</td>
      <th cdk-footer-cell *cdkFooterCellDef class="px-6 py-3">{{total}}</th>
    </ng-container>

    <ng-container cdkColumnDef="images">
      <th cdk-header-cell *cdkHeaderCellDef class="px-6 py-3">images.</th>
      <td cdk-cell class="px-4 py-6" *cdkCellDef="let row">
        <img class="w-20" [src]="row.images[0]" alt="">
      </td>
      <th cdk-footer-cell *cdkFooterCellDef class="px-6 py-3"></th>
    </ng-container>
    </table>
  </div>
</div>
